page-login {

    .background{
        background-color: #FE40A2;
    }

    .forgotpass{
        text-align-last: center;
    }

    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }
}
