page-categories {
    
      // Category Page
      // ----------------------------------------------------------------------------------
      .image__padding {
        padding: 50px;
      }
      .padding_helper {
        margin: 10px;
        padding: 5px;
        border-radius: 3px;
        // background-color: white;
      }
      .category__tops {
        background-image: url('../assets/img/tops.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__shirts {
        background-image: url('../assets/img/shirt.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__dresses {
        background-image: url('../assets/img/dresses.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__pants {
        background-image: url('../assets/img/pants.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__tops {
        background-image: url('../assets/img/tops.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__short {
        background-image: url('../assets/img/shorts.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__jacket {
        background-image: url('../assets/img/jacket.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__shoes {
        background-image: url('../assets/img/shoes.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__sandals {
        background-image: url('../assets/img/sandals.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__sneakers {
        background-image: url('../assets/img/sneakers.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__bags {
        background-image: url('../assets/img/bags.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .section__headline {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: .8px;
        margin: 0;
        line-height: .1;
        text-transform: uppercase;
        color: grey;
      }
      .category__headline {
        font-size: 2.3rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        line-height: 2;
        margin: 5px;
      }
    
    }
    