page-menu {
    .image-logo{
            margin: auto;
            height: 110px; 
            width: 120px; 
            // border: 2px solid #fff;
            // border-radius: 50%;
            // box-shadow: 0 0 5px gray;
            display: block;
        }
    .avatar{
        height: 70px; 
        width: 70px; 
    }
}
